<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_60b7536bc206454389d6dcad6371b042 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_60b7536bc206454389d6dcad6371b042" ></div>
        
</body>
<script>    
    
            var map_60b7536bc206454389d6dcad6371b042 = L.map(
                "map_60b7536bc206454389d6dcad6371b042",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5ed02e7311f94626b303c2a8935c9a9f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_60b7536bc206454389d6dcad6371b042);
        
    
            var feature_group_bc8bdb4d03d941049e5f58b4c8758d94 = L.featureGroup(
                {}
            ).addTo(map_60b7536bc206454389d6dcad6371b042);
        
    
            var circle_marker_e69c8e879548447084ec9d3f8f8d8f07 = L.circleMarker(
                [19.37910921228945, -64.95802728771055],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_bc8bdb4d03d941049e5f58b4c8758d94);
        
    
        var popup_77ff3bdc40c1434191b24b72dbbfe2ea = L.popup({"maxWidth": "100%"});

        
            var html_28db11db30b342d79230a3c6510fa819 = $(`<div id="html_28db11db30b342d79230a3c6510fa819" style="width: 100.0%; height: 100.0%;">R A U W A L E J A N D R O</div>`)[0];
            popup_77ff3bdc40c1434191b24b72dbbfe2ea.setContent(html_28db11db30b342d79230a3c6510fa819);
        

        circle_marker_e69c8e879548447084ec9d3f8f8d8f07.bindPopup(popup_77ff3bdc40c1434191b24b72dbbfe2ea)
        ;

        
    
    
            var circle_marker_0e4e3a0f626a4bd0a8b102cc31ce082d = L.circleMarker(
                [51.87196929399995, 0.44017729399995587],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "darkpurple", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_bc8bdb4d03d941049e5f58b4c8758d94);
        
    
        var popup_4d3df10d2c824c43a76a6a4807b5518a = L.popup({"maxWidth": "100%"});

        
            var html_7d95a1b9cf1e497f906e258a8a1991d3 = $(`<div id="html_7d95a1b9cf1e497f906e258a8a1991d3" style="width: 100.0%; height: 100.0%;">Center for Countering Digital Hate</div>`)[0];
            popup_4d3df10d2c824c43a76a6a4807b5518a.setContent(html_7d95a1b9cf1e497f906e258a8a1991d3);
        

        circle_marker_0e4e3a0f626a4bd0a8b102cc31ce082d.bindPopup(popup_4d3df10d2c824c43a76a6a4807b5518a)
        ;

        
    
    
            var circle_marker_62c57f80488e4c83a62a84494d0200be = L.circleMarker(
                [34.09506256689798, -118.20139433310202],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "black", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_bc8bdb4d03d941049e5f58b4c8758d94);
        
    
        var popup_e5bc41fd8dcc42d3a0c6c82ad3830de5 = L.popup({"maxWidth": "100%"});

        
            var html_9e38ffeed1fd43dba8305288130dcc5a = $(`<div id="html_9e38ffeed1fd43dba8305288130dcc5a" style="width: 100.0%; height: 100.0%;">Katie Welch</div>`)[0];
            popup_e5bc41fd8dcc42d3a0c6c82ad3830de5.setContent(html_9e38ffeed1fd43dba8305288130dcc5a);
        

        circle_marker_62c57f80488e4c83a62a84494d0200be.bindPopup(popup_e5bc41fd8dcc42d3a0c6c82ad3830de5)
        ;

        
    
    
            var circle_marker_799808816b3946e1bd056a970f84e1c4 = L.circleMarker(
                [34.08230104027064, -118.21415585972936],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "purple", "fillOpacity": 1, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_bc8bdb4d03d941049e5f58b4c8758d94);
        
    
        var popup_5148f2dad22d4f25a1d3f2e76d93266b = L.popup({"maxWidth": "100%"});

        
            var html_2cf8002938164e4a893150981bf6341f = $(`<div id="html_2cf8002938164e4a893150981bf6341f" style="width: 100.0%; height: 100.0%;">E Cohen</div>`)[0];
            popup_5148f2dad22d4f25a1d3f2e76d93266b.setContent(html_2cf8002938164e4a893150981bf6341f);
        

        circle_marker_799808816b3946e1bd056a970f84e1c4.bindPopup(popup_5148f2dad22d4f25a1d3f2e76d93266b)
        ;

        
    
</script>